*{
  padding: 0;
  margin: 0;
}

.shell{
  height: 100vh;
  /* 裁剪掉x轴的滚动条 */
  overflow-x: hidden;
  perspective: 3px;
}

.shell div{
  position: relative;
  display: flex; 
  justify-content: center;
  align-items: center;
  font-style: 30px;
  letter-spacing: 2px;
}

.image{
  /* 沿着z轴缩放1个像素，再放大1.6倍 */
  transform: translateZ(-1px) scale(1.6);
  background-size: cover;
  height: 100vh;
  z-index: -1;
}

.text{
  height: 70vh;
  background-color: #efefef;
  display: flex;
  flex-direction: column;
}

.text h1{
  color: black;
}

.text .title{
  font-family: '等线';
  font-size: 45px;
  margin: 20px 0;
}

.heading{
  z-index: -1;
  transform: translateY(-50vh);
  color: aliceblue;
  font-size: 40px;
  display: flex;
  flex-direction: column;
}

.heading .result{
  width: 100vw;
  height: 15vh;
  background-color: rgba(0,0,0,0.7)
}